<%- include('layouts/header'); -%>
  <h2>Upload</h2>
  <ul>
    <li><a href="/multipart/form">Upload with Form</a></li>
    <li><a href="/multipart/ajax">Upload with Ajax</a></li>
    <li><a href="/multipart/multiple-file">Upload Multiple Files</a></li>
  </ul>
<%- include('layouts/footer'); -%>
